/* 导航 */
.nav{
    height: 52px;
	background-color: #333333;
}
.nav .content{
}
.nav .content ul{
    float: right;
}
.nav .content li{
    float: left;
    height: 52px;
    line-height: 52px;
}
.nav .content li a{
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #666666;
    height: 14px;
    line-height: 14px;

    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #dcdcdc;
}
.nav .content ul li div{
    display: inline-block;
    width: 11px;
	height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    /* 对齐问题 */
    margin-left: 15px;
    margin-right:8px;
}
.nav .content li:last-child a{
    padding-left: 0;
    padding-right: 2px;
    border-right: 0;
}
/* 头部 */
.head .wrapper{
    height: 130px;
}
.head img{
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    width: 207px;
	height: 70px;
    
}
.head ul{
    float: left;
    margin-left: 40px;
    margin-top: 53px;
}
.head ul li{
    float: left;
    margin-right: 48px;
}
.head ul li a{
    display: inline-block;
    height: 32px;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.head ul li a:hover{
    border-bottom: 1px solid #27ba9b;
}
.head ul li:last-child{
    margin-right: 0;

}
.head .search{
    margin-top: 54px;
    margin-left: 82px;
    float: left;
    width: 172px;
	height: 30px;
    border-bottom: 2px solid #e7e7e7;
}
.head .search .licon{
    display: inline-block;
    float: left;
    width: 18px;
	height: 18px;
    background-image: url(../images/sprites.png);
    background-position:-79px -70px ;
}
.head .search input{
    float: right;
    margin-left: 11px;
    margin-top: 4px;
    width: 141px;
    border: 0;

	color: #cccccc;
}
.head a .ricon{
    float: right;
    width: 23px;
	height: 23px;
    margin-top: 58px;
    margin-right: 14px;
    background-image: url(../images/sprites.png);
    background-position: -120px -70px;
}
/* 轮播图 */
.banner{
    height: 500px;
	background-color: #f5f5f5;
}
.banner .content{
    height: 100%;
    background-image: url(../uploads/banner_1.png);
}
.banner .content .left{
    float: left;
    width: 251px;
	height: 500px;
    background-color: rgba(0, 0, 0, .8);
}
.banner .content dl{
    float: left;
    width: 100%;
	height: 50px;
    padding-left: 36px;
    padding-top: 17px;
}
.banner .content .left dt{
    float: left;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
.banner .content .left dd{
    margin-left: 15px;
    float: left;
}
.banner .content .left dd:nth-child(3){
    margin-left: 3px;
}
.banner .content .left dd:last-child{
    float: right;
    margin-right: 19px;
}

.banner .content .left dd a{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
.banner .content .right{
    position: relative;
    float: right;
    width: 989px;
    height: 100%;
}
.banner .content .right .licon{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -22px;
    width: 45px;
	height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-image: url(../images/sprites.png);
    background-position: 15px -60px;
}
.banner .content .right .ricon{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -22px;

    width: 45px;
	height: 44px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-image: url(../images/sprites.png);
    background-position: 15px -60px;
}
.banner .content .right button{
    width: 45px;
	height: 44px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 50%;
}
/* 新鲜好物 */
.frashgoods{
    margin-top: 48px;
	height: 471px;
}
.frashgoods .title{
    height: 66px;
}
.frashgoods .title h2{
    float: left;

    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.frashgoods .title ul{
    display: inline-block;
    margin-top: 11px;
    margin-left: 30px;
}
.frashgoods .title li{
    float: left;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.frashgoods .title li:last-child{
    margin-left: 6px;
}
.frashgoods .drawing ul li{
    float: left;
    margin-right: 8px;
    width: 304px;
	height: 405px;
    background-color: #f0f9f4;
}
.frashgoods .drawing ul li:last-child{
    margin-right: 0;
}
.frashgoods .drawing li .new1{
    display: inline-block;
    width: 304px;
	height: 305px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url(../uploads/new_goods_1.jpg);
    
}
.frashgoods .drawing li .new2{
    display: inline-block;
    width: 304px;
	height: 305px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url(../uploads/new_goods_2.jpg);
    
}
.frashgoods .drawing li .new3{
    display: inline-block;
    width: 304px;
	height: 305px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url(../uploads/new_goods_3.jpg);
    
}
.frashgoods .drawing li .new4{
    display: inline-block;
    width: 304px;
	height: 305px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    background-image: url(../uploads/new_goods_4.jpg);
    
}
.frashgoods .drawing li .desc{
    margin-top: 20px;
    text-align: center;
}
.frashgoods .drawing li .desc h3{
    margin-bottom: 19px;
}
.frashgoods .drawing li .desc h3 a{
    font-family: PingFangSC-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.frashgoods .drawing li .desc p{
    font-family: PingFangSC-Medium;
	font-size: 23px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #9a2e1f;
}
.frashgoods .drawing li .desc span{
    font-family: PingFangSC-Regular;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #9a2e1f;
}
/* 服饰 */
.clothes{
    margin-top: 34px;
}
.clothes .title{
    height: 64px;
}
.clothes .title h2{
    float: left;

    font-family: PingFangSC-Regular;
	font-size: 29px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
}
.clothes .title ul{
    float: right;
}
.clothes .title ul li{
    float: left;
}

.clothes .title ul li a{
    display: inline-block;
    padding: 0 7px;
	height: 20px;
    line-height: 20px;
    text-align: center;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #333333;
}
.clothes .title ul li:last-child{
    padding-right: 0;
    padding-left: 64px;
}
.clothes .title ul li:last-child a{
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.clothes .title ul li a span{
    margin-left: 16px;
}
.clothes .title ul li a:hover{
    background-color: #27ba9b;
    color: #fefbfc;
}
.clothes .left{
    float: left;
}
.clothes .right{
    float: right;
}
.clothes .left{
    float: left;
    width: 240px;
	height: 610px;
    background-size: contain;
    background-image: url(../uploads/clothes_goods_cover.jpg);
}
.clothes .right{
    float: right;
    width: 1000px;
}
.clothes .right li{
    float: left;
    width: 242px;
	height: 304px;
    margin-left: 8px;
    margin-bottom: 2px;
}
.clothes .right li:nth-child(n+5){
    margin-bottom: 0;
}
.clothes .right li a{
    display: inline-block;
    width: 184px;
	height: 184px;
    margin-top: 8px;
    margin-left: 29px;
    vertical-align: middle;

    background-image: url(../uploads/kitchen_goods_4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.clothes .right li h3{
    margin-top: 12px;
    margin-left: 29px;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;

}
.clothes .right li p{
    margin-left: 29px;

    font-family: PingFangSC-Medium;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #9a2e1f;
}
.clothes .right li span{
    font-size: 17px;
}
/* 宣传 */
.ad .content{
    height: 302px;
    margin-top: 79px ;
    padding-left: 58px;
    padding-top: 79px;

}

.ad .content ul li{
    float: left;
    text-align: center;
}
.ad .content li h2{
    margin-bottom: 35px;

    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.ad .content li .left{
    float: left;
    width: 93px;
	height: 92px;
    border: solid 1px #eeeeee;
}
.ad .content li .left div{
    margin-top: 22px;
    margin-left: 32px ;
    margin-bottom: 10px;
    width: 29px;
	height: 27px;
    background-image: url(../images/sprites.png);
    background-position: -250px -70px;
}
.ad .content li .left a{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.ad .content li .right{
    float: left;
    margin-left: 6px;
    width: 93px;
	height: 92px;
    border: solid 1px #eeeeee;
}
.ad .content li .right div{
    margin-top: 22px;
    margin-left: 32px ;
    margin-bottom: 10px;
    width: 29px;
	height: 28px;
    background-image: url(../images/sprites.png);
    background-position: -350px -70px;
}
.ad .content li .right a{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}

.ad .content li:nth-child(2){
    margin-left: 118px;
}
.ad .content li:nth-child(2) .left div{
    margin-left: 29px ;
    width: 36px;
	height: 29px; 
    background-position: -250px -15px;
}
.ad .content li:nth-child(2) .right div{
    margin-left: 29px ;
    width: 36px;
	height: 29px;
    background-position: -350px -15px;
}
.ad .content li:nth-child(3){
    margin-left: 93px;
    margin-right: 33px;
}
.ad .content li:nth-child(3) .left{
    width: 116px;
	height: 116px;
}
.ad .content li:nth-child(3) .right{
    width: 116px;
	height: 116px;
    border: 0;
}
.ad .content li:nth-child(3) .right p{
    float: left;
    text-align: left;
    margin-top: 12px;
    margin-left: 19px;

    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.ad .content li:nth-child(3) .right button{
    margin-top: 18px;
    margin-left: 15px;
    width: 103px;
	height: 32px;
	background-color: #27ba9b;
    border: 0;

    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
.ad .content li:nth-child(3) .left div{
    width: 105px;
	height: 103px;
    margin-top: 7px;
    margin-left:7px;
    background-position: 0 0;
    background-image: url(../uploads/qrcode.png);
    background-size: contain;
}
.ad .content .tel{
    padding-left: 74px;
    height: 189px;;
    border-left: 2px solid #f2f2f2;
    text-align: left;
}
.ad .content .tel h2{
    text-align: center;
}
.ad .content .tel strong{
    font-family: PingFangSC-Semibold;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
}
.ad .content .tel p{
	font-size: 15px;

}
/* 版权 */
.footer{
    height: 343px;
    background-color: #333;
}
.footer .top{
    height: 172px;
    padding-top: 59px;
    padding-left: 38px;
}
.footer .top ul li{
    float: left;
    margin-left: 303px;
}
.footer .top ul li:first-child{
    margin-left: 0;
}
.footer .top .first{
    width: 58px;
	height: 58px;
    background-image: url(../images/sprites.png);
    background-position: 0 0;
}
.footer .top .second{
    width: 58px;
	height: 58px;
    background-image: url(../images/sprites.png);
    background-position: 0 0;
}
.footer .top .thrid{
    width: 58px;
	height: 58px;
    background-image: url(../images/sprites.png);
    background-position: 0 0;
}
.footer .top li div{
    float: left;
    vertical-align: middle;
}
.footer .top li{
    height: 58px;
    line-height: 58px;
}
.footer .top li p{
    float: left;
    margin-left: 19px;

    font-family: PingFangSC-Light;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
.footer .bottom{
    width: 1393px;
    height: 168px;
    padding-top: 41px;
    padding-left: 428px;
    margin-left: 230px;
}
.footer .bottom ul li{
    float: left;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    border-right: 1px solid #999;
}
.footer .bottom ul li:first-child{
    padding-left: 0;
}
.footer .bottom ul li:last-child{
    border: 0;
}
.footer .bottom li a{ 
    font-family: PingFangSC-Light;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
.footer .bottom p{
    margin-top: 17px;
    margin-left: 195px;

    font-family: PingFangSC-Light;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}